/*maps*/
.bannerFooter__contenedores, .regalosCorporativos, .nosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

#encabezado, .particularBanner__container, .particularBanner2 .particularBanner2__foto__texto {
  display: flex;
  flex-direction: column; }

#encabezado {
  margin-bottom: 3em;
  justify-content: end;
  text-align: center;
  width: 100%;
  background-color: #F1DDDD; }

#encabezado__login {
  text-align: right; }

.fas {
  margin: 10px;
  width: 1em;
  height: 1em; }

.fas:active {
  line-height: 40px; }

.btn-primary {
  background-color: #231f20;
  margin-right: 5px;
  padding: 0.3125em;
  border: 1px solid #231f20; }
  .btn-primary:active {
    background-color: #231f20;
    border: #231f20 1px solid; }
  .btn-primary:hover {
    background-color: #ccb8bd;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 5px #ccb8bd;
    border: none;
    color: #231f20; }
  .btn-primary:focus {
    background-color: #ccb8bd;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 5px #ccb8bd;
    border: none;
    color: #231f20; }

.modal-body {
  text-align: left; }

#encabezado__titulo {
  text-align: center;
  margin-left: 1.563em;
  margin-right: 1.563em;
  top: 50px; }

#encabezado__titulo h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3.75em;
  text-align: center;
  color: #231f20;
  width: 100%;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2); }

#encabezado__titulo h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.25em;
  text-align: center;
  color: #231f20;
  width: 100%; }

#btn-menu {
  display: none; }

main label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px; }

main label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3); }

nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  text-align: center; }

#menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: space-around; }

#menu li {
  float: left; }

#menu li a {
  color: #231f20;
  padding: 9px 20px;
  text-decoration: none;
  line-height: 100%;
  display: block;
  margin-top: 1.4em;
  font-weight: 400;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em; }

#menu li a:hover {
  background-color: #ccb8bd;
  text-align: right;
  text-decoration: underline black; }

#menu .menu__desplegable {
  display: none;
  position: absolute; }

#menu li:hover .menu__desplegable {
  display: inline-block; }

.menu__desplegable__items {
  display: block;
  margin-right: 0%; }

.dropdown {
  display: none; }

.titulo {
  display: flex;
  flex-direction: row; }

#bannerFooter {
  background-color: #231f20;
  padding: 3rem;
  margin: 0 0 0;
  height: 100%;
  width: 100%; }

.bannerFooter__contenedores {
  flex-wrap: wrap; }
  .bannerFooter__contenedores__section1 {
    display: block;
    padding-right: 7em;
    font-family: "Raleway", sans-serif;
    margin-bottom: 3em; }

.newsLatter {
  background-color: #231f20;
  border: 1px solid white;
  margin-bottom: 10px;
  padding: 0.8em;
  color: white;
  width: 250px;
  height: 8px; }

.bannerFooter__section1__newslatter {
  color: white;
  margin-bottom: 1.2em;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif; }

.bannerFooter__section1__titulo {
  color: white;
  margin-bottom: 2.5em;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  margin-left: 30px; }

.bannerFooter__contenedores__section3 {
  padding-left: 7em; }

.bannerFooter__section3__items {
  text-decoration: none;
  list-style-type: square;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: space-around; }

.bannerFooter__section3__items1 {
  padding-right: 2.1em;
  margin-left: 0px;
  justify-content: left;
  text-decoration-color: none;
  display: flex;
  flex-direction: row;
  align-content: space-around; }

a {
  color: white;
  text-decoration: none;
  list-style-type: none; }
  a:hover {
    color: #ccb8bd;
    border-radius: 1 px solid #ccb8bd;
    -webkit-transform: scale(0.99);
    transform: scale(0.99); }

li {
  list-style-type: none; }

* {
  margin: 0;
  border: 0; }

.tituloBlog {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em; }

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 100px);
  margin: 2.5%; }
  .gridcontainer .gridcontainer__item1 {
    background-image: linear-gradient(to left, #14111173, #14111147, #14111156, #f0d5d575, #f0d5d5f3, #f2dbdb5f);
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3; }
  .gridcontainer .gridcontainer__item2 {
    background-image: linear-gradient(to bottom, #937d79, #e7e5e3);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6; }
  .gridcontainer .gridcontainer__item3 {
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 6;
    padding: 7%;
    text-align: left; }
  .gridcontainer .gridcontainer__item4 {
    background: #748a76;
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 9; }
  .gridcontainer .gridcontainer__item5 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 5%;
    text-align: left; }
  .gridcontainer .gridcontainer__item6 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;
    padding: 5%;
    text-align: left; }

.buttonGrid {
  background-color: #231f20;
  border-radius: solid 1px white;
  color: white;
  padding: 5px 20px;
  margin-top: 20px;
  text-decoration: none; }
  .buttonGrid:hover {
    border-bottom: 1px solid black;
    transition-duration: 0.6s;
    scale: 1, 2; }

.tituloGrid {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em;
  justify-content: center; }

.tituloBlog {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em; }

.tituloRC {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #231f20; }

.regalosCorporativos {
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 30px; }
  .regalosCorporativos .regalosCorporativos__contenedor {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1em;
    cursor: pointer;
    padding: 15px; }
  .regalosCorporativos .regalosCorporativos__contenedor__foto {
    overflow: hidden;
    width: 100%; }

.regalosCorporativos__contenedor__foto:hover {
  -webkit-transform: scale(0.99);
  transform: scale(0.99); }

.mapa {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 30px;
  width: 45em;
  justify-content: center;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 75%; }

/*form contacto*/
.btn-outline-danger {
  color: #fff;
  background-color: #231f20;
  border-color: #231f20; }
  .btn-outline-danger:hover {
    background-color: #ccb8bd;
    border: 1px solid #ccb8bd;
    color: #231f20; }
  .btn-outline-danger:focus {
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 5px #ccb8bd;
    outline: 0 none;
    border: none;
    background-color: #ccb8bd; }

/*accordion*/
#accordionFlushExample {
  margin-left: 10%;
  width: 90%; }

.tituloBootstrap {
  text-align: center; }

.accordion-button {
  background-color: #ccb8bd;
  border: 1px solid #ccb8bd; }
  .accordion-button:focus {
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 5px #ccb8bd;
    outline: 0 none;
    border: none;
    background-color: #ccb8bd;
    color: #231f20; }

#accordionFlushExample {
  display: inline-block;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 30px;
  width: 45em;
  justify-content: center;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 65%; }

.accordion-collapse {
  background-color: #F1DDDD; }

.sectionRow {
  display: flex;
  flex-direction: row; }

.col-md-8 {
  margin-bottom: 30px; }

.form-control {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 5px #ccb8bd;
  outline: 0 none; }
  .form-control:focus {
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 5px #ccb8bd;
    outline: 0 none;
    border: none; }

.button {
  background-color: #231f20;
  border-radius: solid 1px white;
  color: white;
  padding: 5px 20px;
  margin-top: 20px;
  text-decoration: none; }

.button:hover {
  background-color: black;
  transform: translateY(2px); }

.particularBanner {
  margin-top: 50px; }
  .particularBanner__container {
    width: 50%;
    padding: 50px 35px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    left: 0%;
    right: 0%;
    max-width: 500px;
    background-color: black;
    margin-left: 5%;
    color: white;
    opacity: 0.7; }

.particularBanner2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 20px; }
  .particularBanner2 .particularBanner2__foto__texto {
    width: 50%;
    height: 50%;
    padding: 20px 20px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    left: 0%;
    right: 0%;
    max-width: 250px;
    background-color: black;
    margin-left: 25%;
    color: white;
    opacity: 0.7; }

.particularBanner2__foto {
  width: 100%;
  height: auto; }

.particularBanner2__foto__titulo {
  font-size: 1.8em; }

ul.breadcrumb {
  padding: 5px 10px;
  list-style: none;
  background-color: white; }

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  color: #d1bfb5; }

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: ">\00a0"; }

ul.breadcrumb li a {
  color: #646566;
  text-decoration: none; }

ul.breadcrumb li a:hover {
  color: #231f20;
  text-decoration: underline; }

.logoInstagram {
  display: block;
  text-align: center;
  margin-top: 50px;
  justify-content: center; }

.fotosInstagram {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 70%; }
  .fotosInstagram__contenedor {
    position: relative;
    text-align: center;
    border: #231f20 1px solid;
    cursor: pointer;
    margin: 1px; }
    .fotosInstagram__contenedor:hover {
      opacity: 0.5; }

.error404 {
  background-color: #231f20;
  color: #d1bfb5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6em;
  text-align: center;
  padding: auto;
  padding-bottom: 200px;
  padding-top: 100px; }

.nosotros {
  margin-top: 30px;
  margin-bottom: 50px;
  content: 80%;
  width: 100%; }
  .nosotros__contenedorTexto {
    height: 367px;
    width: 549px;
    background-color: #C5BCB4;
    padding: 20px; }
  .nosotros__contenedorTexto__titulo {
    text-align: center;
    color: #231f20;
    text-transform: uppercase;
    padding: 15px;
    margin-top: 5px; }
  .nosotros__contenedorTexto__cuerpo {
    color: #231f20;
    font-size: 1em;
    font-family: serif;
    line-height: 25px; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.boxCategorias__productos {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-areas: " categoria1 categoria2 categoria categoria4";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  margin-top: 50px;
  font-style: none;
  color: #231f20; }
  .boxCategorias__productos__item1 {
    grid-area: categoria1; }
  .boxCategorias__productos__item2 {
    grid-area: categoria2; }
  .boxCategorias__productos__item3 {
    grid-area: categoria3; }
  .boxCategorias__productos__item4 {
    grid-area: categoria4; }

.boxCategorias__productos__item1,
.boxCategorias__productos__item2,
.boxCategorias__productos__item3,
.boxCategorias__productos__item4 {
  background-color: #dfccd1;
  border-radius: 10px;
  color: #231f20;
  padding: 8px;
  font-size: medium;
  margin: 5px;
  font-style: none; }

.boxCategorias__productos__boton {
  text-decoration: none;
  color: #231f20; }
  .boxCategorias__productos__boton:hover {
    text-decoration: none;
    color: #231f20; }

@keyframes animacion {
  0% {
    width: 160px; }
  25% {
    width: 140px; }
  50% {
    width: 180px;
    background-color: #a3806e; }
  75% {
    width: 120px; }
  100% {
    width: 150px;
    background-color: #dfccd1; } }

.productos {
  margin-top: 30px;
  margin-bottom: 60px;
  /*margin-left: 10px;*/
  /*margin-right: 10px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex: 1; }
  .productos .productos__contenedor {
    position: relative;
    padding: 1em;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 60px;
    cursor: pointer;
    max-width: 100%;
    height: auto;
    margin-right: 1em;
    margin-left: 1em; }
  .productos__texto {
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

.productos__contenedor:hover {
  opacity: 0.7; }

ul .mapadeSitio {
  padding: 5px 10px;
  list-style: none; }

ul .mapadeSitio li {
  display: inline;
  font-size: 18px;
  color: #d1bfb5; }

ul .mapadeSitio li a {
  color: #646566;
  text-decoration: none; }

@media (max-width: 480px) {
  #menu {
    display: none; }
  .dropdown {
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    padding: 3px; }
  .dropdown-menu {
    background-color: #f1dddd; }
  .dropdown-item:hover {
    background-color: #ccb8bd; }
  .btn-primary {
    color: #fff;
    background-color: #231f20;
    border-color: #231f20;
    padding: 5px; }
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #231f20;
    border-color: #231f20; }
  /*seccion nosotros*/
  .nosotros {
    width: 96%;
    max-width: 549px;
    margin: 0 auto;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 50px;
    content: 80%;
    justify-content: center;
    width: 100%; }
    .nosotros__contenedorTexto {
      width: 100%;
      height: auto; }
  img {
    width: 100%;
    height: auto; }
  .particularBanner2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 8%;
    margin-right: 8%; }
    .particularBanner2__foto {
      margin-bottom: 30px;
      width: 90%;
      max-width: 350px;
      text-align: center; }
  .particularBanner {
    display: none; }
  .bannerFooter__contenedores__section3 {
    padding-right: 7em;
    padding-left: 0; }
  .logoInstagram {
    margin-left: auto;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%; }
  .accordion {
    display: inline-block; }
  .sectionRow {
    display: flex;
    flex-direction: column; }
  .tituloGrid {
    font-size: 1.1em; } }

@media (min-width: 480px) and (max-width: 930px) {
  .particularBanner2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 45em;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 75%; }
  .particularBanner2__foto {
    margin-bottom: 30px;
    width: 90%;
    max-width: 100%;
    text-align: center; } }

@media (min-width: 480px) and (max-width: 1120px) {
  #menu {
    display: none; }
  .dropdown {
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    padding: 3px; }
  .dropdown-menu {
    background-color: #f1dddd; }
  .dropdown-item:hover {
    background-color: #ccb8bd; }
  .btn-primary {
    color: #fff;
    background-color: #231f20;
    border-color: #231f20;
    padding: 5px; }
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #231f20;
    border-color: #231f20; }
  .img-fluid {
    display: none; }
  .tituloGrid {
    font-size: 1.7em; }
  .bannerFooter__contenedores__section3 {
    padding-right: 7em;
    padding-left: 0; }
  .particularBanner2__foto img {
    max-height: auto;
    width: 100%; } }
