.mapa{
                  
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;

}

.btn-primary {
    color: #fff;
    background-color: $color-principal;
    border-color: $color-principal;
}

.formularioCheck{
    display:flex;
    justify-content: left;
    justify-items: left;
}

#accordionFlushExample{
margin-left: 10%;
width: 90%;


}

form{
 
width: $max-width;
justify-content: center;
}



.tituloBootstrap{
    text-align: center;
}

.accordion-button{
    background-color: $color-secundario;
}
#accordionFlushExample{
    margin: 30px;
    display: inline-block;
    justify-content: center;
}

.accordion-collapse{
                background-color: rgba(255, 145, 0, 0.377);
}