#bannerFooter{
                 
        background-color: $color-principal;
        padding: 6rem;
        margin: 2rem 0 0;
        height:100%; 
        width: $max-width; } 

        .bannerFooter__contenedores{
            @extend %flexboxRow;
            flex-wrap: wrap;

                &__section1 {
                    display: block;
                    /*padding:40px;*/
                    font-family: $estilo-letra;
}
}


.newsLatter {
                    background-color: $color-principal;
                    border: 1px solid white;
                    margin-bottom: 10px;
                    padding:0.8em;
                    color: white;
                    width: 250px;
                    height: 8px;
                    }

.bannerFooter__section1__newslatter {

                    color: white;
                    margin-bottom: 20px;
                    font-size: 1.2em;
                    font-family: $estilo-letra;
}


.bannerFooter__contenedores__section2 {

                    background-color: $color-principal;
                    padding: 0%; 
                    margin-left: 4em;
                    margin-right:4em;
}

.bannerFooter__section2__titulo {
                    color: white;
                    padding-bottom: 15px;
                    /*font-weight: 400;*/
                    font-family: $estilo-letra;
}

.bannerFooter__section2__items{

                font-style: italic;
                color: white;
                list-style-type: square ;
                text-align: center;
                list-style: none;
                font-family: $estilo-letra;
                text-align: left;


                &__section2__items1{
                        text-decoration: none;
}
}

.bannerFooter__section3__items{
                text-decoration:none;
                list-style-type: square ;
                list-style: none;
                display: flex;
                flex-direction: row;
                align-content: space-between;
                

}

.bannerFooter__section3__items1{
                            margin-right:2em;
                            text-decoration-color: none;
                            display: flex;
                            flex-direction: row;
                            align-content: space-between;
                
}