ul .mapadeSitio {
    padding: 5px 10px;
    list-style: none;
  }
  
  
  ul .mapadeSitio li {
    display: inline;
    font-size: 18px;
    color: #d1bfb5;
  }
  
  
  
  ul .mapadeSitio li a {
    color: #646566;
    text-decoration: none;
  }
  
  
  