


.nosotros{
            @extend %flexboxRow;
            margin-top: 70px;
            margin-bottom: 50px;
            content: 80%;
            width: $max-width;
          

            &__contenedorTexto{
                    height: 367px;
                    width: 549px;
                    background-color: map-get($mapa, color-fondo);
                    padding: 20px;  }

                &__contenedorTexto__titulo{
                            text-align: center;
                            color: map-get($mapa, color-principal);
                            text-transform: uppercase;
                            padding:15px;
                            margin-top: 5px;}
    
                    &__contenedorTexto__cuerpo {
                                    color: map-get($mapa, color-principal);
                                    font-size: 1em;
                                    font-family:serif;
                                    line-height: 25px;
            }
        }
    

    



