.boxCategorias__productos{
    width: 80%;
    margin:auto;        
    display: grid;
    grid-template-areas: 
    " categoria1 categoria2 categoria categoria4";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 50px;
    font-style: none;
    color: $color-principal;

   &__item1 {
        grid-area: categoria1;}

        &__item2 {
            grid-area: categoria2;}

            &__item3 {
                grid-area: categoria3;}

                  &__item4 {
                    grid-area: categoria4;}
}
                  
               
.boxCategorias__productos__item1,
.boxCategorias__productos__item2,
.boxCategorias__productos__item3,
.boxCategorias__productos__item4 {
                    background-color: #dfccd1;
                    border: $border;
                    color: $color-principal;
                    padding: 10px 30px;
                    font-size: medium;
                    animation-name: animacion;
                    animation-iteration-count: initial;
                    animation-timing-function: ease-in;
                    animation-duration: 2s;
                    animation-delay: 0.5s;
                    margin: 5px;
                    font-style: none;
                 

}

.boxCategorias__productos__boton{
                    text-decoration: none;
                    color: $color-principal;


        &:hover{
                    text-decoration: none;
                    color: $color-principal;
}
}

@keyframes animacion {

  0%{width:160px;}
  25%{width:140px;}
  50%{width:180px;
  background-color: #a3806e;}
  75%{width:120px;}
  100%{width:150px;
  background-color: #dfccd1;}
}

.productos {
  margin-top: 30px;
  margin-bottom: 60px;
  /*margin-left: 10px;*/
  /*margin-right: 10px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  width: $max-width;
  flex: 1; 
  
   
  
  .productos__contenedor {
    position: relative;
    padding: 1em;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 60px;
    cursor: pointer;
    max-width: 100%;
    height: auto;
    margin-right: 1em;
    margin-left: 1em;
    
    
}
  
        &__texto{
            font-size: 80px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
}
}

.productos__contenedor:hover{
  opacity: 0.7;
}








