$color-principal: #231f20;
$estilo-letra: 'Raleway', sans-serif;
$color-secundario: #ccb8bd;
$max-width: 100%;
$border: 1px solid black;



/*maps*/

$mapa:(
    color-principal: #231f20,
    color-secundario: #F1DDDD,
    color-fondo: #C5BCB4,
    color-texto:#666361
)